@font-face {
	src: url("../Fonts/28 Days Later.ttf");
	font-family: "28_Days_Later";
}
@font-face{
	src: url("../Fonts/Montserrat-Regular.otf");
	font-family: "Montserrat-Regular";
}
@font-face{
	src: url("../Fonts/Montserrat-Bold.otf");
	font-family: "Montserrat-Bold";
}